<form action="/admin/addProduct?_method=PUT" method="post">
    <div>
        <label>name</label>
        <input type="text" value="<%= foundProduct.name %>" name="name">
    </div>
    <div>
        <label>Brand</label>
        <input type="text" value="<%= foundProduct.brand %>" name="brand">
    </div>
    <div>
        <label>Category</label>
        <select name="category">
            <% allCategories.forEach(category=>{ %> 
                <option selected value="<%=category.id %>" label="<%=category.categoryName %>"></option>
          <%  }) %> 
        </select>
    </div>
    <div>
        <label>stock</label>
        <input type="number" name="quantity" min="1" value="<%= foundProduct.quantity %>">
    </div>
    <div>
        <label>Description</label>
        <textarea name="description" cols="30" rows="10"><%= foundProduct.description %></textarea>
    </div>
    <a href="/admin/products" class="btn btn-dark">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>