<div class="container-fluid px-4">
  <h1 class="mt-4">Banner Management</h1>
  <%- include("../partials/errorMessage") %>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Banners
      <button class="btn btn-dark btn-sm float-end" data-bs-toggle="modal" data-bs-target="#bannerModal">New Banner <i class="fa-solid fa-circle-plus"></i></button>
      <%- include("_modal_banner") %>
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Banner</th>
            <th>Title</th>
            <th>View order</th>
            <th>Status</th>
            <th>Caption</th>
            <th>Url</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Banner</th>
            <th>Title</th>
            <th>View order</th>
            <th>Status</th>
            <th>Caption</th>
            <th>Url</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% allBanners.forEach(banner=>{%>
          <tr id="banner-<%= banner.id %>">
            <td><img src="/files/<%= banner.bannerImagePath %>" alt="" width="150" class="img-fluid img-thumbnail"></td>
            <td><%=banner.title%></td>
            <% if(banner.viewOrder == "primary"){%>
            <td><span class="badge bg-primary">Primary</span></td>
            <%} else{%>
            <td><span class="badge bg-dark">Secondary</span></td>
            <%}%>
            <% if(banner.isActive){%>
            <td><span class="badge bg-success">Active</span></td>
            <%  }else{%>
            <td><span class="badge bg-warning">Inactive</span></td>
            <% } %>
            <td><%=banner.caption%></td>
            <td><%=banner.url%></td>
            <% if(banner.isActive){%>
            <td><button class="btn btn-sm btn-outline-danger" onclick="deactivateBanner('<%=banner.id%>')">Deactivate</button></td>
            <%  }else{%>
            <td><button class="btn btn-sm btn-outline-dark" onclick="activateBanner('<%=banner.id%>')">Activate</button></td>
            <% } %>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
  async function activateBanner(bannerId) {
    try {
      const response = await axios.put(`/admin/activateBanner/${bannerId}`)
      $(`#banner-${bannerId}`).load(location.href + ` #banner-${bannerId}>*`, "");
      toastr.success('Banner Activated.')
    } catch (err) {
      toastr.error('Error Activating banner.')
      console.error(err)
    }
  }


  async function deactivateBanner(bannerId) {
    try {
      const response = await axios.put(`/admin/deactivateBanner/${bannerId}`)
      $(`#banner-${bannerId}`).load(location.href + ` #banner-${bannerId}>*`, "");
      toastr.warning('Banner Deactivated.')
    } catch (err) {
      toastr.error('Error Deactivating banner.')
      console.error(err)
    }
  }
</script>