<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"> -->
<%- include("../partials/adminNavbar") %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
        Add category
    </button>

    <%-include("_modal_category") %>

        <div class="container">
            <div class="jumbotron shadow m-2 bg-white rounded">
                <table id="admin" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allCategories.forEach((category,index)=>{ %>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= category.categoryName %>
                                </td>
                                <td>
                                    <form action="/admin/deleteCategory/<%= category.id%>?_method=DELETE" method="post">
                                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                            data-bs-target="#categoryModal<%= category.id %>">
                                            Edit
                                        </button>
                                        <a class="btn btn-danger m-2" data-bs-target="#deleteModal<%= category.id %>"
                                            data-bs-toggle="modal">Delete</a>


                                        <!-- delete modal start -->

                                        <div class="modal modal-alert" tabindex="-1" role="dialog"
                                            id="deleteModal<%= category.id %>">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content rounded-3 shadow">
                                                    <div class="modal-body p-4 text-center">
                                                        <h5 class="mb-2">Waring! Are you sure</h5>
                                                        <p class="mb-0">This change cant be undone.</p>
                                                    </div>
                                                    <div class="modal-footer flex-nowrap p-0">
                                                        <button type="submit"
                                                            class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"><strong>Yes</strong></button>
                                                        <button type="button"
                                                            class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                                                            data-bs-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- delete modal end -->

                                    </form>
                                </td>
                            </tr>
                            <!------------ modal for Edit category -------------->
                            <div class="modal fade" id="categoryModal<%= category.id %>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form action="/admin/editCategory/<%= category.id %>?_method=PUT" method="post">
                                            <div class="modal-body">
                                                <label class="form-label">Name</label>
                                                <input type="text" name="categoryName"
                                                    value="<%= category.categoryName %>" class="form-control">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </tbody>
                </table>
                <hr>
                <%- include("../partials/errorMessage") %>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#admin').DataTable();
            });
        </script>