<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <%- include("../partials/errorMessage") %>
  <!-- <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol> -->
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-users"></i>
          </div>
          Total users
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
          <h3>
            <%= userCount %>
          </h3>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-clock"></i>
          </div>
          Pending Order
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
          <h3>
            <%= orderStatusCount[0] %>
          </h3>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-clipboard-check"></i>
          </div>
          Completed Orders
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
          <h3>
            <%= orderStatusCount[1] %>
          </h3>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-chart-simple"></i>
          </div>
          Total Sale
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
          <h3>
            ₹ <%= orderStatusCount[2] %>
          </h3>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area me-1"></i>
          Sales
        </div>
        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-bar me-1"></i>
          User Registers
        </div>
        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/diagram/graph.js"></script>
