<!-- Hero Section Begin -->
<%- include("../partials/heroSection",{allCategories:allCategories}) %>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Shopping Cart</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <span>Shopping Cart</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<% if(locals.findCart?.products?.length>0){ %>
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th class="shoping__product">Products</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% findCart.products.forEach(item=>{ %>
              <tr id="cartItem-<%= item.productId.id %>">
                <td class="shoping__cart__item">
                  <img src="/files/<%= item.productId.productImagePath[0]%>" alt="" width="120" height="150" />
                  <a href="/product/<%=item.productId.id%>" class="text-dark"><%= item.productId.name%></a>
                </td>
                <%if(item.offerPrice){%>
                <td class="shoping__cart__price">
                  <del class="text-muted">₹<%= item.price %></del>
                  ₹<%= item.offerPrice.toFixed(2) %>
                </td>
                <% }else{ %>
                <td class="shoping__cart__price">₹<%= item.price %></td>
                <% } %>
                <td class="shoping__cart__quantity">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span class="dec qtybtn" onclick="addToCart('<%=item.productId.id%>','<%=item.name%>','<%=item.price%>',-1,'<%=item?.offerPrice%>')">-</span>
                      <input type="text" id="currentQuantity-<%= item.productId.id %>" value="<%= item.quantity %>" />
                      <span class="inc qtybtn" onclick="addToCart('<%=item.productId.id%>','<%=item.name%>','<%=item.price%>',1,'<%=item?.offerPrice%>')">+</span>
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total" id="item-<%=item.productId.id %>">
                  <% if(item.offerPrice) {%> ₹<%= (item.offerPrice *
                  item.quantity).toFixed(2) %> <% }else {%> ₹<%= (item.price *
                  item.quantity).toFixed(2) %> <% } %>
                </td>
                <td class="shoping__cart__item__close">
                  <span class="icon_close" onclick="deleteItem('<%=item.productId.id %>')"></span>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
          <!-- <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
            Upadate Cart</a> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>Discount Codes</h5>
            <form id="couponForm">
              <input type="text" placeholder="Enter your coupon code" id="couponCode" />
              <button type="submit" class="site-btn">APPLY COUPON</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout" id="checkoutBox">
          <h5>Cart Total</h5>
          <ul id="total-list">
            <li>
              Subtotal
              <span><del>₹<%= findCart.subTotal.toFixed(2) %></del></span>
            </li>
            <% let discount = findCart.subTotal - findCart.total %>
            <li>
              Cart Discount <span class="text-muted">₹<%=discount.toFixed(2)%></span>
            </li>
            <% if(couponCode){%>
            <li>
              Coupon <span class="text-muted"><i class="fa-solid fa-tags"></i> <%=couponCode%> <i class="fa-solid fa-trash-can fa-xs trash" onclick="removeCoupon()"></i> </span>
            </li>
            <li>
              Coupon Discount <span class="text-muted"> <%=couponDiscount.toFixed(2)%> </span>
            </li>
            <li>
              Total
              <span>₹<%= (findCart.total - couponDiscount).toFixed(2) %></span>
            </li>
            <% }else{%>
            <li>
              Total
              <span>₹<%= findCart.total.toFixed(2) %></span>
            </li>
            <% } %>
          </ul>
          <a href="/user/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->
<%} else {%>
<section class="container">
  <div class="text-center py-5">
    <img src="/img/emptycart.png" alt="" />
    <div>
      <p class="h4">There is nothing in your bag. Let's add some items.</p>
    </div>
    <a href="/" class="primary-btn">Shop</a>
  </div>
</section>
<%}%>

<script>
 
document.forms["couponForm"].addEventListener("submit", async (event) => {
event.preventDefault();
const couponCode = document.getElementById("couponCode").value;
let response;
try {
response = await axios.post(`/user/redeem/${couponCode}`)
if (response.status == 200) {
$("#checkoutBox").load(location.href+" #checkoutBox>*","");
await Swal.fire({
icon: "success",
title: `Congrats you have saved ${response.data.couponDiscount}`,
showConfirmButton: false,
timer: 1500,
width: "25em",
});

}

} catch (err) {

if(err.response.status==400){
$("#checkoutBox").load(location.href+" #checkoutBox>*","");
Swal.fire({
icon: "warning",
title: `minimum purchase is ${err.response.data.minPurchase}` ,
showConfirmButton: false,
timer: 1500,
width: "25em",
});

}
else if (err.response.status == 403) {
$("#checkoutBox").load(location.href+" #checkoutBox>*","");
Swal.fire({
icon: "warning",
title: "Coupon already redeemed",
showConfirmButton: false,
timer: 1500,
width: "25em",
});


} else if (err.response.status == 404) {
$("#checkoutBox").load(location.href+" #checkoutBox>*","");
Swal.fire({
icon: "warning",
title: "Invalid Coupon or Expired",
showConfirmButton: false,
timer: 1500,
width: "25em",
});
}
}
});

async function removeCoupon(){
  console.log("hi")
  try{
    const response = await axios.delete("/user/removeCoupon")
    $("#checkoutBox").load(location.href+" #checkoutBox>*","");
  }catch(err){
    $("#checkoutBox").load(location.href+" #checkoutBox>*","");
    console.error(err)
  }

}
</script>