<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Footwear</a></li>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Grooming</a></li>
            <li><a href="#">Western Wear</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Party Wear</a></li>
            <li><a href="#">Winter Wear</a></li>
            <li><a href="#">On Sale</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="What do yo u need?">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <a href="/user/cart">Cart</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">

    <% if(user.address.length>0){ %>
    <div class="row">
      <% user.address.forEach((myAddress,index)=>{%>
      <div class="col-md-4 col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> <%= myAddress.firstName %></h5>
            <address class="card-text">
              <%= myAddress.firstName +' '+ myAddress.lastName %>, <%= myAddress.house %>, <%= myAddress.address %>,
              <%=myAddress.city  %>, <%=myAddress.state %>, <br>
              pincode: <%= myAddress.pincode %><br>
              ph:<%= myAddress.phone %>
            </address>
            <button class="btn btn-outline-dark" onclick="fillForm('<%=JSON.stringify(myAddress)%>','<%=Number(index)%>')">Use this address</button>
            <!-- <button class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i></button> -->
          </div>
        </div>
      </div>
      <%}) %>
    </div>
    <% } %>

    <div class="checkout__form">
      <h4>Shipping Address</h4>
      <form action="/user/checkout" method="post">
        <div class="row">
          <div class="col-lg-6" id="addressInputField">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Fist Name<span>*</span></p>
                  <input type="text" name="firstName" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Last Name<span>*</span></p>
                  <input type="text" name="lastName" required>
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Address<span>*</span></p>
              <input type="text" name="address" required placeholder="Street Address" class="checkout__input__add">
              <input type="text" name="house" placeholder="Apartment, suite, unite ect (optinal)">
            </div>
            <div class="checkout__input">
              <p>Town/City<span>*</span></p>
              <input type="text" name="city" required>
            </div>
            <div class="checkout__input">
              <p>State<span>*</span></p>
              <input type="text" name="state" required>
            </div>
            <div class="checkout__input">
              <p>Postcode<span>*</span></p>
              <input type="number" name="pincode" required>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Phone<span>*</span></p>
                  <input type="tel" name="phone" minlength="10" maxlength="10" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  <input type="text" placeholder="<%= user.email %>" disabled>
                </div>
              </div>
            </div>

            <input type="hidden" name="addressIndex" value="0">

            <div class="checkout__input__checkbox">
              <label for="diff-acc">
                Ship to a different address?
                <input id="diff-acc" type="checkbox" id="diff-acc" onchange='handleChange(this)'>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">Products <span>Total</span></div>
              <div>
                <ul>

                  <% findCart.products.forEach(item=>{%>
                  <li class="mb-2">
                    <img type="button" src="/files/<%= item.productId.productImagePath[0] %>" alt="" width="50" height="60">
                    <%= item.name %> x<%= item.quantity %>
                    <span>₹<%= item.offerPrice ? (item.offerPrice*item.quantity).toFixed(2) : (item.price*item.quantity).toFixed(2)  %> </span>
                  </li>
                  <%}) %>

                </ul>
              </div>
              <div class="checkout__order__subtotal">Subtotal <span>₹<%= findCart.subTotal.toFixed(2) || findCart.total.toFixed(2) %></span></div>
              <div class="checkout__order__total">Discount <span>₹<%= (findCart.subTotal - findCart.total).toFixed(2) %></span></div>
              <div class="checkout__order__total">Total <span>₹<%= findCart.total.toFixed(2) %></span></div>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</p> -->
              <div class="checkout__input__checkbox">
                <label for="payment">
                  Cash on delivery <i class="fa-solid fa-money-bill-1"></i>
                  <input type="checkbox" id="cod" name="cod">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="checkout__input__checkbox">
                <label for="paypal">
                  Paypal <i class="fa-brands fa-paypal"></i>
                  <input type="checkbox" id="paypal" name="paypal">
                  <span class="checkmark"></span>
                </label>
              </div>
              <button type="submit" class="site-btn">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
<script>
  function fillForm(address, index) {
    let myAddress = JSON.parse(address)
    console.log(index)
    $("#addressInputField :input").prop("disabled", true)
    $("#diff-acc").prop("disabled", false)
    $("#diff-acc").prop("checked", false)
    $("[name='addressIndex']").val(index)
    $("[name='addressIndex']").prop("disabled", false)

    $("[name='firstName']").val(myAddress.firstName)
    $("[name='lastName']").val(myAddress.lastName)
    $("[name='house']").val(myAddress?.house)
    $("[name='address']").val(myAddress.address)
    $("[name='city']").val(myAddress.city)
    $("[name='state']").val(myAddress.state)
    $("[name='pincode']").val(myAddress.pincode)
    $("[name='phone']").val(myAddress.phone)
  }

  function handleChange(checkbox) {
    if (checkbox.checked == true){
      $("#addressInputField :input").prop("disabled", false)
    }
  }
</script>