<!-- Hero Section Begin -->
<%- include("../partials/heroSection") %>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>My Orders</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <span>My orders</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<% if(myOrders.length>0){%>

<section class=""">
  <div class=" container py-2">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col">
      <% myOrders.forEach(order=>{ %>
      <div class="card card-stepper mb-2" style="border-radius: 10px;">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <!-- <span class="lead fw-normal">Your order has been delivered</span> -->
              <span class="text-muted small bold mb-1">orderId: #<%= order.id %></span>
              <% order.products.forEach(product=>{%>
              <span class="text-muted mb-2"><img src="/files/<%= product.productId.productImagePath[0] %>" alt="" width="60" class="img-fluid rounded">
                <a href="/product/<%= product.productId.id %>" class="text-muted"><%= product.productId.name %></a> x <%= product.quantity %> </span>
              <% }) %>

              <span class="text-muted small">on <%= order.createdAt.toDateString() %></span>
            </div>
            <div>
              <a class="btn btn-sm btn-outline-dark" href="/user/myOrders/<%= order.id %>">View order details</a>
              <% if(order.status !== "Delivered" && order.status !== "Cancelled"){ %>
              <button class="btn btn-sm btn-outline-danger" onclick="sweetConfirm('<%=order.id%>')" type="button"><i class="fa-solid fa-ban"></i></button>
              <%  } %>
            </div>
          </div>
          <hr class="my-4">

          <div class="d-flex flex-row justify-content-between align-items-center align-content-center" id="orderStatusRoad-<%= order.id %>">
            <% if(order.status==="Pending"){%>
            <span class="d-flex justify-content-center align-items-center big-dot dot">
              <i class="fa fa-check text-white"></i></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <%}else if(order.status==="Packed"){ %>
            <span class="dot"></span>
            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
              <i class="fa fa-check text-white"></i></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <% }else if(order.status==="Shipped"){ %>
            <span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
              <i class="fa fa-check text-white"></i></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <% }else if(order.status==="Out for delivery"){%>
            <span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
              <i class="fa fa-check text-white"></i></span>
            <hr class="flex-fill"><span class="blank-dot"></span>
            <% }else if(order.status==="Delivered"){%>
            <span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="dot"></span>
            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
              <i class="fa fa-check text-white"></i></span>
            <%}else{ %>
            <span class="dot-danger"></span>
            <hr class="flex-fill track-line-danger"><span class=""></span>
            <hr class="flex-fill track-line-danger"><span class=""></span>
            <hr class="flex-fill track-line-danger"><span class=""></span>
            <hr class="flex-fill track-line-danger"><span class="d-flex justify-content-center align-items-center big-dot-danger dot">
              <i class="fa-sharp fa-solid fa-xmark"></i></span>
            <% } %>
          </div>

          <div class="d-flex flex-row justify-content-between align-items-center" id="orderStatusUpdate-<%= order.id %>">
            <% if(order.status != "Cancelled"){ %>
            <div class="d-flex flex-column justify-content-center"><span>Order
                placed</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center"><span>Order Packed</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center"><span>Order Dispatched</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center"><span>Out for delivery</span></div>
            <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
            <% }else{ %>
            <div class="d-flex flex-column justify-content-center"></div>
            <div class="d-flex flex-column justify-content-center align-items-center"></div>
            <div class="d-flex flex-column justify-content-center align-items-center"></div>
            <div class="d-flex flex-column justify-content-center align-items-center"></div>
            <div class="d-flex flex-column align-items-end"><span>Cancelled</span></div>
            <% } %>
          </div>

        </div>
      </div>
      <% }) %>
    </div>
  </div>
  </div>
</section>

<%} else {%>
<section class="container">
  <div class="text-center py-5">
    <img src="/img/emptycart.png" alt="">
    <div>
      <p class="h4">There is nothing in your orders. Let's shop something.</p>
    </div>
    <a href="/" class="primary-btn">Shop</a>
  </div>
</section>
<%}%>

<script src="/js/sweet-alert.js"></script>