<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="#">Fresh Meat</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>
            <li><a href="#">Fresh Bananas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="What do yo u need?">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>My Wishlist</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <span>My wishlist</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<% if(locals.findWishlist?.myList?.length>0) {%>
<!-- wishlist  Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th class="shoping__product">Products</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% findWishlist.myList.forEach(list=>{ %>
              <tr>
                <td class="shoping__cart__item">
                  <img src="/files/<%= list.productId.productImagePath[0] %>" alt="" width="120" height="150">
                  <a href="/product/<%=list.productId.id%>" class="text-dark"><%= list.productId.name%></a>
                </td>
                <td>
                  <%= list.productId.price %>
                </td>
                <td>
                  <div>
                    <a class="text-dark" onclick="addToCart('<%=list.productId.id%>','<%=list.name%>','<%=list.productId.price%>',1,'<%=list.productId?.offerPrice%>');wishlist('<%=list.name%>','<%=list.productId.id%>')"><i class="fa fa-shopping-cart fa-lg"></i></a>
                  </div>
                  <div>
                    <a onclick="wishlist('<%=list.name%>','<%=list.productId.id%>')" class="btn"><i class="fa-solid fa-trash-can fa-lg"></i></a>
                  </div>
                </td>
              </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- wishlist Section End -->
<%} else{%>
<section class="container">
  <div class="text-center py-5">
    <img src="/img/emptycart.png" alt="">
    <div>
      <p class="h4">There is nothing in your bag. Let's add some items.</p>
    </div>
    <a href="/" class="primary-btn">Shop</a>
  </div>
</section>
<%} %>
<!-- Latest Product Section End -->
<script>
  function moveToCart(name, id, price) {
    console.log(name, id, price)
    addToCart(id, name, price, 1)
    wishlist(name, id)
  }
</script>